@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
/*'Work Sans', sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Roboto', sans-serif;*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/sushi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 0%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* --- NAVBAR SECTION --- */

#brand-logo {
    max-height: none; 
    height: 80px;
}

/* --- TITLE SECTION --- */

main {
    flex: 1;
}

/*.divHeader {
    
}*/

.divSearch {
    background-color: rgba(0, 0, 0, 0);
    margin: 5% 0 0;
}

#searchTitle {
    color: rgb(255, 255, 255); 
    font-weight: bolder; 
    letter-spacing: 1.3px; 
    font-size: 50px;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(255, 165, 91), -1px 1px 0 rgb(255, 165, 91);
}

#searchBar {
    flex: 1;
    margin: auto;
    max-width: 500px;
}

/* --- LOGIN SECTION --- */

.hidden {
    display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* --- SCHEDE SECTION --- */

#notFound {
    padding: 20px 30px;
    background-color: white;
    border-radius: 5px;
    border: 6px solid #FF4848;
    box-shadow: 0px 1px 10px 1px black;
    font-size: 26px;
    color: #FF4848;
}

#schede-negozi {
    display: flex;
    flex: 1;
    margin: 150px 0 0 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.scheda-interna {
    display: flex;
    flex-direction: column;
    margin: 0 0 100px !important;
    width: 450px;
    height: 400px;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
    border: 5px solid #FF9317;
    box-shadow: 0px 2px 10px 1px black;
}

.scheda-interna img {
    margin-top: -50px;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px -4px black;
}

.scheda-interna h1 {
    color: black;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin: 15px 0 25px !important;
}

.scheda-top-content {
    flex: 1;
}

.content-desc {
    text-align: justify;
    padding: 0 20px;
}

.content-civico {
    font-style: oblique;
    font-size: 14px;
    text-transform: capitalize;
}

.scheda-bottom-content {
    margin: 0 0 15px;
}

/* --- FOOTER SECTION --- */