@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
/*'Work Sans', sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Roboto', sans-serif;*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/sushi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 0%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* --- NAVBAR SECTION --- */

#brand-logo {
    max-height: none; 
    height: 80px;
}

/* --- TITLE SECTION --- */

main {
    flex: 1;
}

/*.divHeader {
    
}*/

.divSearch {
    background-color: rgba(0, 0, 0, 0);
    margin: 5% 0 0;
}

#searchTitle {
    color: rgb(255, 255, 255); 
    font-weight: bolder; 
    letter-spacing: 1.3px; 
    font-size: 50px;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(255, 165, 91), -1px 1px 0 rgb(255, 165, 91);
}

/* --- LOGIN SECTION --- */

.hidden {
    display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* --- SCHEDE SECTION --- */

#schede-negozi {
    display: flex;
    flex: 1;
}

.scheda-interna {
    padding: 5px;
    background-color: white;
    border-radius: 8px;
}

/* --- FOOTER SECTION --- */

/* --- TEST SECTION --- */

.test {
    margin: 1000px 0 0 0;
}